 <div class="container">
 <h1> Meu Perfil</h1>
        <p> Nome: <%= @user.name %></p>
        <p>email: <%= @user.email %></p>
        <div class="perfilButton">
        <% if current_user == @user %>                       
        <%= link_to "Edit", edit_user_path(current_user) %>
        <%= link_to "Delete", @user, method: :delete%>                               
    <%end%>
    </div>
</div>