        <div class="header-container">
        <% if logged_in? %>
              <%= link_to "Posts", :posts %>
              <%= link_to "Profile", current_user %>
              <%= link_to "Log out", sign_out_path, method: "delete" %>
        <% else %>
        <% end %>
   </div>
    
